{% extends 'base.html' %}

{% block title %}Request Status{% endblock %}

{% block header %}Request Status{% endblock %}

{% block content %}
    
    <div class="container-fluid">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Submit a Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('request_status') }}">Request Status</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('manager') }}">Manager Approvals</a>
        </li>
      </ul>
    </div> 

    <br/>

    <div class="container">
      <h1 style="color: black">Holiday Request Status</h1>
      <br/>       
        <table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Sumission Date</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for x in request_status %}
              <tr>
                <th scope="row">{{ x.id }}</th>
                <td>{{ x.date_created }}</td>
                <td>{{ x.first_name }}</td>
                <td>{{ x.last_name }}</td>
                <td>{{ x.email }}</td>
                <td>{{ x.start_date }}</td>
                <td>{{ x.end_date }}</td>
                <td>{{ x.status }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock %}